.offset_margin-top_35
  margin-top: 35px
.offset_margin-top_54
  margin-top: 54px
.offset_margin-top_s-double
  margin-top: $margin-base*2//~48
.offset_margin-top_s
  margin-top: $margin-base
.offset_margin-top_m
  margin-top: ceil($margin-base*1.66)//~40
.offset_margin-top_s-half
  margin-top: ceil($margin-base/2)//~12
.offset_margin-top_b-plus
  margin-top: ceil($margin-base*1.41)//~34
.offset_margin-top_min-17
  margin-top: -17px
.offset_margin-top_21
  margin-top: 21px
.offset_margin-top_31
  margin-top: 31px
.offset_margin-top_base
  margin-top: $margin-base
.offset_margin-top_min-49
  margin-top: -49px