//Ie support
$support-for-ie = true

//== Template size
//
//## Sizes of template
$width-template = 1230px

//== Header
//
//## Basics of a header
$header-height  = 86px

//== Footer
//
//## Basics of a footer
$footer-height = 94px


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$fs-base = 16px
$fs-extra-small= ceil(0.75*$fs-base)//~12px
$fs-small= ceil(0.87*$fs-base)//~14px
$fs-small-plus= ceil(0.93*$fs-base)//~15px
$fs-base-plus = ceil(1.06*$fs-base)//~17px
$fs-base-large = ceil(1.12*$fs-base)//~18px
$fs-base-large-plus = ceil(1.18*$fs-base)//~19px
$fs-medium-minus = ceil(1.25*$fs-base)//~20px
$fs-medium-half-minus = ceil(1.37*$fs-base)//~22px
$fs-medium = ceil(1.5*$fs-base)//~24px
$fs-h1 = ceil(3*$fs-base)//~48px
$fs-h2 = ceil(2.5*$fs-base)//~40px
$fs-h3 = ceil(1.87*$fs-base)//~30px
$fs-h4 = $fs-base-large

$ff-thin = 'robotothin'
$ff-light = 'robotolight'
$ff-bold = 'robotobold'
$ff-medium = 'robotomedium'
$ff-regular = 'robotoregular'
//== Colors
//
//## Gray and brand colors for use across Alfabank.
$red-alfa = #EF3124
$red-alfa-opacity-80 = rgba(239, 49, 36, 0.8)
$red = #8a2c34
$white-opacity-80 = rgba(255, 255, 255, 0.8)
$white-opacity-60 = rgba(255, 255, 255, 0.6)
$white-opacity-50 = rgba(255, 255, 255, 0.5)
$white-opacity-30 = rgba(255, 255, 255, 0.3)
$black-opacity-80 = rgba(65, 64, 66, 0.8)
$black = #414042
$black-head = #383838
$green = #44b759
$gray =  #e8e8e8
$grayLight = #d1d1d1
$grayDark = #292929
$grayText = #636263 // karalkou's addition


//=Borders
//
//##
$border-radius-base = 4px
$input-border-radius = $border-radius-base
$border-radius-size-medium = 5px // =5px
//== Grid system
//
//## Define your custom responsive grid.
$offset-base = 15px

//=Box-model
//
//## Paddings
$padding-medium = ceil(2.25*$fs-base) //=36px
//## Margins
$margin-small = ceil(0.7*$fs-base) //=12px
$margin-base-min = ceil(1.5*$fs-base) //=19px
$margin-base = ceil(1.5*$fs-base) //=24px
$margin-medium  = ceil(1.25*$margin-base) //=30px
$margin-medium-plus = ceil(1.45*$margin-base)//=35px