.offset_margin-bottom_15
  margin-bottom: 15px
.offset_margin-bottom_10
  margin-bottom:10px
.offset_margin-bottom_content-reset
  margin-bottom: -($margin-medium-plus)
  border-bottom-left-radius: $border-radius-size-medium
  border-bottom-right-radius: $border-radius-size-medium
  .ymaps-map
    border-bottom-left-radius: $border-radius-size-medium
    border-bottom-right-radius: $border-radius-size-medium